body{
	font-family:"Arial", Helvetica;
	
	
}

p{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 150%;
	
}
body img{
	width:100px;
	height:100px;
	padding:1em;
	border:solid #000000;
	border-radius:10px;
	margin-bottom:1em;
	margin-left:7px;
}

